@charset "UTF-8";
:root {
    --primary-color: #2c3e50;
    --secondary-color: #18bc9c;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  *,
  *::after,
  *::before {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    position: relative;
  
    
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../imag/img/Sem 2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: -1;
  }

  footer {
    background-color: var(--primary-color);
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding: 15px;
  }